{% extends 'groups/group_base.html' %}

{% block pregroup %}

{% comment %} comes from group {% endcomment %}
{% comment %} template syntax with cbv theirs context dictionary that gets pass
and holds everything the model has {% endcomment %}
<h1>{{user.username}}</h1>
<h2>{{group.location}}</h2>
<h5>{{group.description}}</h5>
<h6>{{group.date}}</h6>
{% comment %} count is a method off model objects {% endcomment %}
{% comment %} <h2>Member Count: {{group.members.count}}</h2> {% endcomment %}

{% comment %} <div class="content">
    {% if user in group.members.all %}

        <a href="{%url 'groups:leave' slug=group.slug %}" class='btn btn-lg-fill btn-warning'>Leave Group</a>
    {% else %}
        <a href="{%url 'groups:join' slug=group.slug %}" class='btn btn-lg-fill btn-warning'>Join Group</a>
 

    {% endif %}
</div> {% endcomment %}
{% endblock %}


{% block group_content %}
<h1>yo</h1>
<div class="col-md-8">
    {% comment %} {% if group.posts.count == 0 %} {% endcomment %}
    {% comment %} <h2>No Post in this Group Yet</h2> {% endcomment %}
    <a href="{% url 'posts:create' slug=group.slug %}">
                Leave a Comment
            </a>
    {% comment %} {% else %} {% endcomment %}
        {% for post in group.posts.all %}
            {% comment %} is like saying extends but the html is injected here {% endcomment %}
            {% include "posts/_post.html" %}
        {% endfor %}

    {% comment %} {% endif %}  {% endcomment %}


{% endblock %}